<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Github link:</strong>
    <%= project.github_link %>
  </p>

  <p>
    <strong>Live link:</strong>
    <%= project.live_link %>
  </p>

</div>
